<% if @user.errors.any? %> 
  <h2>The following errors prevented the article from being saved</h2> 
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <ul> 
    <% @user.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
    <% end %> 
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  
<% end %>

<%= form_with(model: @user, local: true) do |f| %>

<p>
<%= f.label :username %><br/>
<%= f.text_field :username, placeholder: "Enter your username" %><br/><br/>

<%= f.label :email %><br/>
<%= f.email_field :email, placeholder: "Enter your email" %><br/><br>

<%= f.label :password %><br/>
<%= f.password_field :password, placeholder: "Choose a password" %><br/><br/>


<%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-success") %>

</p>

<% end %>