<nav class="navbar navbar-expand-lg bg-dark p-3">
    <div class="container-fluid">
      <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand text-light", id:"logo" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <%# <a class="nav-link text-light" href="#"></a> %>
            <%= link_to "Bloggers", users_path, class: "navbar text-light text-decoration-none" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Articles
            </a>
            <ul class="dropdown-menu text-light">
            <% if logged_in? %>
              <li><a class="dropdown-item" href="articles/new"> Create a New Article</a></li>
            <% end %>
              <li class="dropdown-item">
            <%= link_to "View all the Articles", articles_path, class: "text-dark text-decoration-none" %>
          </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu text-light">
            <% if logged_in? && current_user.admin? %>
            <li class="dropdown-item">
              <%= link_to "Create a New Category", new_category_path, class: "text-dark text-decoration-none" %>
            </li>
            <% end %>
              <li class="dropdown-item">
            <%= link_to "View all the Categories", categories_path, class: "text-dark text-decoration-none" %>
          </li>
            </ul>
          </li>

          <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% ("Admin") if current_user.admin? %>Profile [<%= current_user.username %>]
            </a>
            <div class="dropdown-menu text-light" aria-labelledby="navbar-dropdown" >
              <%= link_to "View your Profile", user_path(current_user), class: "text-dark text-decoration-none" %><br/>
              <%= link_to "Edit your Profile", edit_user_path(current_user), class: "text-dark text-decoration-none" %>
              <%= button_to "Delete your Profile", user_path(current_user), class: "text-danger text-decoration-none",
              method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
            </div>
          </li>
          <% end %>

          <% if logged_in? %>

          <li class="nav-item">
            <%= link_to current_user.username, user_path(current_user), class: "nav-link text-white btn"%>
          </li>

          <li class="nav-item">
            <%= button_to "Logout", logout_path, class: "nav-link text-white btn", method: :delete %>
          </li>


          
          <% else %>
           <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link text-white btn" %>
          </li>

          <li class="nav-item">
            <%= link_to "Signup", signup_path, class: "nav-link text-white btn" %>
          </li>
          <% end %>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
